    
<div class="ui small menu inverted">
  <div class="ui container">
    <a class="item">Chatroom</a><a class="item">Messages</a>
    <div class="right menu">
      <div role="listbox" aria-expanded="false" class="ui item dropdown" tabindex="0">
        <div aria-atomic="true" aria-live="polite" role="alert" class="divider text">Account</div>
        <i aria-hidden="true" class="dropdown icon"></i>
        <div class="menu transition">
          <div role="option" class="item">Log out</div>
          <div role="option" class="item">Log in</div>
          <div role="option" class="item">Sign up</div>
        </div>
      </div>
      <div class="item"><button class="ui primary button">Sign Up</button></div>
    </div>
  </div>
</div>